<div>
  <p>
    Hey! My name's Alex. I work on engineering at
    <a href="https://brex.com" target="_blank">Brex</a>. I'm based in SF.
  </p>
  <p>I write here mostly about software and startups.</p>
  <p>
    Previously I led engineering at
    <a href="https://thentwrk.com" target="_blank">NTWRK</a> and founded
    <a href="https://www.demeanor.co" target="_blank">demeanor.co</a> (Y
    Combinator S18, acquired by NTWRK). Before that, I worked on the video
    platform at <a href="http://facebook.com" target="_blank">Facebook</a>. I
    studied at <a href="https://www.usc.edu" target="_blank">USC</a> and
    <a href="http://www.andover.edu/" target="_blank">Andover</a>.
  </p>
  <span>
    I love to chat. Find me at
    <a href="mailto:a@alexpareto.com">a@alexpareto.com</a> or on Twitter
    <a href="https://twitter.com/alexpareto" target="_blank">@alexpareto</a>.
  </span>
</div>
