<div>
  <p>
    Hey! My name's Alex. I work on engineering at
    <a href="https://thentwrk.com" target="_blank">NTWRK</a>. I'm based in LA.
  </p>
  <p>I write here mostly about software and startups.</p>
  <p>
    Previously I founded
    <a href="https://demeanor.co" target="_blank">demeanor.co</a> (Y Combinator
    S18) which was acquired by NTWRK in 2019. Before that, I worked on the video
    platform at <a href="http://facebook.com" target="_blank">Facebook</a>. I
    studied at <a href="https://www.usc.edu" target="_blank">USC</a> and
    <a href="http://www.andover.edu/" target="_blank">Andover</a>.
  </p>
  <span>
    I love to chat. Find me at
    <a href="mailto:a@alexpareto.com">a@alexpareto.com</a> or on Twitter
    <a href="https://twitter.com/alexpareto" target="_blank">@alexpareto</a>.
  </span>
</div>
