<ul class="social-icons">
  <a href="https://twitter.com/alexpareto" target="_blank"
    ><li class="twitter"></li
  ></a>
  <a href="https://www.linkedin.com/in/alexpareto" target="_blank"
    ><li class="linkedin"></li
  ></a>
  <a href="https://www.instagram.com/alexpareto/" target="_blank"
    ><li class="instagram"></li
  ></a>
  <a href="https://github.com/alexpareto/" target="_blank"
    ><li class="github"></li
  ></a>
  <a href="https://open.spotify.com/user/alexpareto" target="_blank"
    ><li class="spotify"></li
  ></a>
</ul>
