---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "social";

.sidebar {
  background-color: #fafafa;
  padding: $spacing-unit / 2;
  font-size: 14px;
}

.email {
  font-size: 14px;
}

form {
  margin: 0;
}

input {
  margin-bottom: 3px;
  height: 22px;
  padding: 0 3px;
  text-transform: none;
  line-height: 22px;
}

.bold {
  font-weight: 600;
}

.intro {
  background-color: #fafafa;
  padding: $spacing-unit / 2;
  margin-bottom: $spacing-unit;
}

.twitter-follow-button {
  height: 28px;
}
